@page
@model StudentAccomodation.Pages.Students.WaitingListModel
@{
}
<h1>Waiting List</h1>
<p>
    <a asp-page="/Students/GetStudents">Back to List</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.students)
        {
            <tr>
                <td> @item.StudentNo </td>
                <td> @item.SName </td>
                <td> @item.RegistrationDate.ToShortDateString() </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="/Students/GetStudents">Back to List</a>
</p>