@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Student Accomodation Managment System</h2>
    <br />
    <div><img src="/images/rooms.png" alt="" width="500"></div>

</div>
